In [6]:
#Empty String
pet = ""

#Concatenating
name = "Sasha"
color = "gold"

print("Name: "+ name + ", Favorite color: "+ color)

#multiplying
print("example"*3)

#length of a string
len(name)

Name: Sasha, Favorite color: gold
exampleexampleexample

5

In [12]:
#String Indexing
name = "Jaylen"
print(name[1])
print(name[5])
#negative indexing
print(name[-1])

#slice
color = "Orange"
color[1:4]

fruit = "pineapple"
print(fruit[4:])
print(fruit[:4])

a
n
n
apple
pine

In [30]:
message = "A kong string with a silly typo"
new_message = message[0:2] + "l" + message[3:]
print(new_message)

message = "This is a new message"
print(message)
message = "Another one"
print(message)

pets = "Cats & Dogs"
print(pets)

A long string with a silly typo
This is a new message
Another one
Cats & Dogs

In [37]:
# getting index
pets.index("&")
pets.index("C")
pets.index("Dogs")
pets.index("s")

#in for true or false
"Dragons" in pets
"Cats" in pets

True

In [49]:
name = "Mountains"
print("Mountains".upper())
print(name.lower())

answer = "YES"
if answer.lower() == "yes":
    print("User said yes")
    
# to get rid of any white space
print(" yes ".strip())
print(" yes".lstrip())
print("yes ".rstrip())
print("$yes".strip("$"))

#count
print("The number of times e occurs in this string".count("e"))
#endswith
print("The forest".endswith("rest"))
#isnumeric
print("Forest".isnumeric())
print("123".isnumeric())

MOUNTAINS
mountains
User said yes
yes
yes
yes
yes
4
True
False
True

In [56]:
int("10") + int("30")
#.join
" ".join(["This","is", "a", "phrase", "joined", "by", "spaces"])
"...".join(["This","is", "a", "phrase", "joined", "by", "triple", "dots"])

#split
"This is a split".split()

['This', 'is', 'a', 'split']

In [62]:
#Format string
name = "Manny"
number = len(name) * 3
print("Hello {}, your lucky number is {}".format(name, number))

print("Your lucky number is {number}, {name}.".format(name = name, number = len(name)*3))

Hello Manny, your lucky number is 15
Your lucky number is 15, Manny.

In [64]:
price = 7.5
with_tax = price * 1.09
print(price, with_tax)

print("Base price: ${:.2f}. With Tax:${:.2f}".format(price, with_tax))

7.5 8.175
Base price: $7.50. With Tax:$8.18

In [67]:
def to_celsius(x):
    return(x-32)*5/9
for x in range(0,101,10):
    print("{:>3} F | {:>6.2f} C".format(x, to_celsius(x)))
    #{:>3} allign to the right for a total of 3 spaces
    #{:>6.2f} to 2 decimal spaces and allign to the right at six spaces

  0 F | -17.78 C
 10 F | -12.22 C
 20 F |  -6.67 C
 30 F |  -1.11 C
 40 F |   4.44 C
 50 F |  10.00 C
 60 F |  15.56 C
 70 F |  21.11 C
 80 F |  26.67 C
 90 F |  32.22 C
100 F |  37.78 C

In [68]:
# "{0} {1}".format(first, second)

first = "apple"
second = "banana"
third = "carrot"

formatted_string = "{0} {2} {1}".format(first, second, third)

print(formatted_string)

apple carrot banana

In [73]:
'{:d}'.format(10.4)

ValueError: Unknown format code 'd' for object of type 'float'

{:d}	integer value	'{:d}'.format(10.5) → '10'
{:.2f}	floating point with that many decimals	'{:.2f}'.format(0.5) → '0.50'
{:.2s}	string with that many characters	'{:.2s}'.format('Python') → 'Py'
{:<6s}	string aligned to the left that many spaces	'{:<6s}'.format('Py') → 'Py    '
{:>6s}	string aligned to the right that many spaces	'{:>6s}'.format('Py') → '    Py'
{:^6s}	string centered in that many spaces	'{:^6s}'.format('Py') → '  Py  '

In [74]:
 name = "Micah"

print(f'Hello {name}')

Hello Micah

In [75]:
item = "Purple Cup"
amount = 5
price = amount * 3.25
print(f'Item: {item} - Amount: {amount} - Price: {price:.2f}')

Item: Purple Cup - Amount: 5 - Price: 16.25

The is_palindrome function checks if a string is a palindrome. A palindrome is a string that can be equally read from left to right or right to left, omitting blank spaces, and ignoring capitalization. Examples of palindromes are words like kayak and radar, and phrases like "Never Odd or Even". Fill in the blanks in this function to return True if the passed string is a palindrome, False if not.

In [105]:
s = "pap"
s[::-1]
a = "1234"
a[::-1]
a[0:]
s[::-1] == s[0:]
a[::-1] == a[0:]

pap

In [114]:
reverse = ""
string = ""
s = "ioi"
for i in s:
    string += i.lower()
    reverse = i.lower()+reverse
    print(string, reverse)

i i
io oi
ioi ioi

In [115]:
def is_palindrome(input_string):
	# We'll create two strings, to compare them
	new_string = ""
	reverse_string = ""
	# Traverse through each letter of the input string
	for string in input_string:
		# Add any non-blank letters to the 
		# end of one string, and to the front
		# of the other string.
		if string != " ":
			new_string += string.lower()
			reverse_string = string.lower()+reverse_string
            
            
	# Compare the strings
	if new_string == reverse_string:
		return True
	return False


print(is_palindrome("Never Odd or Even")) # Should be True
print(is_palindrome("abc")) # Should be False
print(is_palindrome("kayak")) # Should be True

True
False
True

Using the format method, fill in the gaps in the convert_distance function so that it returns the phrase "X miles equals Y km", with Y having only 1 decimal place. For example, convert_distance(12) should return "12 miles equals 19.2 km".

In [118]:
def convert_distance(miles):
	km = miles * 1.6 
	result = "{} miles equals {:.1f} km".format(miles,km)
	return result

print(convert_distance(12)) # Should be: 12 miles equals 19.2 km
print(convert_distance(5.5)) # Should be: 5.5 miles equals 8.8 km
print(convert_distance(11)) # Should be: 11 miles equals 17.6 km

12 miles equals 19.2 km
5.5 miles equals 8.8 km
11 miles equals 17.6 km

In [152]:
Weather = "Rainfall is bad"
weather = Weather.split()[:-1]
weather.append("good")
weather = " ".join(weather)
print(weather)

Rainfall is good

Question 5
The replace_ending function replaces the old string in a sentence with the new string, but only if the sentence ends with the old string. If there is more than one occurrence of the old string in the sentence, only the one at the end is replaced, not all of them. For example, replace_ending("abcabc", "abc", "xyz") should return abcxyz, not xyzxyz or xyzabc. The string comparison is case-sensitive, so replace_ending("abcabc", "ABC", "xyz") should return abcabc (no changes made).

In [183]:
def replace_ending(sentence, old, new):
	# Check if the old string is at the end of the sentence 
	if sentence.endswith(old):
		# Using i as the slicing index, combine the part
		# of the sentence up to the matched string at the 
		# end with the new string
		i = len(old)
		new_sentence = sentence[:-i]+new
		return new_sentence

	# Return the original sentence if there is no match 
	return sentence
	
print(replace_ending("It's raining cats and cats", "cats", "dogs")) 
# Should display "It's raining cats and dogs"
print(replace_ending("She sells seashells by the seashore", "seashells", "donuts")) 
# Should display "She sells seashells by the seashore"
print(replace_ending("The weather is nice in May", "may", "april")) 
# Should display "The weather is nice in May"
print(replace_ending("The weather is nice in May", "May", "April")) 
# Should display "The weather is nice in April"

It's raining cats and dogs
She sells seashells by the seashore
The weather is nice in May
The weather is nice in April

Question 4
Fill in the gaps in the nametag function so that it uses the format method to return first_name and the first initial of last_name followed by a period. For example, nametag("Jane", "Smith") should return "Jane S."

In [190]:
def nametag(first_name, last_name):
	return("{}{}{last_name[0]}.".format(first_name," " ,last_name = last_name))

print(nametag("Jane", "Smith")) 
# Should display "Jane S." 
print(nametag("Francesco", "Rinaldi")) 
# Should display "Francesco R." 
print(nametag("Jean-Luc", "Grand-Pierre")) 
# Should display "Jean-Luc G."

Jane S.
Francesco R.
Jean-Luc G.

In [192]:
#list
x = ["Now","we","are", "cooking!"]
type(x)
print(x)
print(len(x))
print("are" in x)

['Now', 'we', 'are', 'cooking!']
4
True

In [196]:
#indexing
print(x[3])
print(x[1:3])
print(x[:2])
print(x[2:])

cooking!
['we', 'are']
['Now', 'we']
['are', 'cooking!']

In [205]:
fruits = ["Pineapple", "Orange", "Banana", "Apple", "Melon"]
fruits.append("Kiwi")
print(fruits)

#insert
fruits.insert(0, "Orange")
print(fruits)

fruits.insert(24,"Peachy")
print(fruits)

#remove
fruits.remove("Melon")
print(fruits)

#pop
fruits.pop(3)
print(fruits)

fruits[2] = "Strawberry"
print(fruits)

['Pineapple', 'Orange', 'Banana', 'Apple', 'Melon', 'Kiwi']
['Orange', 'Pineapple', 'Orange', 'Banana', 'Apple', 'Melon', 'Kiwi']
['Orange', 'Pineapple', 'Orange', 'Banana', 'Apple', 'Melon', 'Kiwi', 'Peachy']
['Orange', 'Pineapple', 'Orange', 'Banana', 'Apple', 'Kiwi', 'Peachy']
['Orange', 'Pineapple', 'Orange', 'Apple', 'Kiwi', 'Peachy']
['Orange', 'Pineapple', 'Strawberry', 'Apple', 'Kiwi', 'Peachy']

In [206]:
fullname = ('Grace', 'M', 'Hooper')
print(fullname)

('Grace', 'M', 'Hooper')

In [207]:
def convert_seconds(seconds):
    hours = seconds // 3600
    minutes = (seconds - hours * 3600) // 60
    remaining_seconds = (seconds - hours * 3600 - minutes * 60 )
    return hours, minutes, remaining_seconds

In [211]:
result = convert_seconds(5000)
print(result)
print(type(result))

(1, 23, 20)
<class 'tuple'>

In [212]:
hours, minutes, seconds = result
print(hours, minutes, seconds)

1 23 20

In [214]:
hours, minutes, seconds = convert_seconds(5000)
print(hours, minutes, seconds)

1 23 20

In [217]:
#iterating over list
animals = ["Lion", "Zebra", "Dolphin", "Monkey"]
chars = 0
for animal in animals:
    chars += len(animal)
    
print("Total Characters: {}, Average Length: {}".format(chars, chars/len(animals)))

Total Characters: 22, Average Length: 5.5

In [219]:
#enumerate
winners = ["Ashley", "Dylan", "Reese"]
for index, person in enumerate(winners):
    print("{} - {}".format(index + 1, person))

1 - Ashley
2 - Dylan
3 - Reese

In [229]:
def full_emails(people):
    result = []
    for email, name in people:
        result.append("{} <{}>".format(name, email))
    return result

print(full_emails([("obalanatosin16@example.com", "Oluwatosin Diego"), ("shay@eample.com", "Shay Brandt" )]))

['Oluwatosin Diego <obalanatosin16@example.com>', 'Shay Brandt <shay@eample.com>']

In [233]:
#List Comprehension
multiples = []
for x in range(1,11):
    multiples.append(x*7)
    
print(multiples)

[7, 14, 21, 28, 35, 42, 49, 56, 63, 70]

In [235]:
multiples = [x * 7 for x in range(1,11)]
print(multiples)

[7, 14, 21, 28, 35, 42, 49, 56, 63, 70]

In [240]:
languages = ["Python", "Perl", "Ruby", "Go", "Java", "C"]
lengths = [len(language) for language in languages]
print(lengths)
print([x for x in languages])

[6, 4, 4, 2, 4, 1]
['Python', 'Perl', 'Ruby', 'Go', 'Java', 'C']

In [241]:
z = [x for x in range(0, 101) if x % 3 == 0]
print(z)

[0, 3, 6, 9, 12, 15, 18, 21, 24, 27, 30, 33, 36, 39, 42, 45, 48, 51, 54, 57, 60, 63, 66, 69, 72, 75, 78, 81, 84, 87, 90, 93, 96, 99]

Common sequence operations
len(sequence) Returns the length of the sequence
for element in sequence Iterates over each element in the sequence
if element in sequence Checks whether the element is part of the sequence
sequence[i] Accesses the element at index i of the sequence, starting at zero
sequence[i:j] Accesses a slice starting at index i, ending at index j-1. If i is omitted, it's 0 by default. If j is omitted, it's len(sequence) by default.
for index, element in enumerate(sequence) Iterates over both the indexes and the elements in the sequence at the same time

List-specific operations and methods
list[i] = x Replaces the element at index i with x
list.append(x) Inserts x at the end of the list
list.insert(i, x) Inserts x at index i
list.pop(i) Returns the element a index i, also removing it from the list. If i is omitted, the last element is returned and removed.
list.remove(x) Removes the first occurrence of x in the list
list.sort() Sorts the items in the list
list.reverse() Reverses the order of items of the list
list.clear() Removes all the items of the list
list.copy() Creates a copy of the list
list.extend(other_list) Appends all the elements of other_list at the end of list

List comprehension
[expression for variable in sequence] Creates a new list based on the given sequence. Each element is the result of the given expression.
[expression for variable in sequence if condition] Creates a new list based on the given sequence. Each element is the result of the given expression; elements only get added if the condition is true.

1.
Question 1
Given a list of filenames, we want to rename all the files with extension hpp to the extension h. To do this, we would like to generate a new list called newfilenames, consisting of the new filenames. Fill in the blanks in the code using any of the methods you’ve learned thus far, like a for loop or a list comprehension.

In [245]:
filenames = ["program.c", "stdio.hpp", "sample.hpp", "a.out", "math.hpp", "hpp.out"]
# Generate newfilenames as a list containing the new filenames
# using as many lines of code as your chosen method requires.
newfilenames = []
for x in filenames:
    x = x.replace(".hpp",".h")
    newfilenames.append(x)

print(newfilenames) 
# Should be ["program.c", "stdio.h", "sample.h", "a.out", "math.h", "hpp.out"]

['program.c', 'stdio.h', 'sample.h', 'a.out', 'math.h', 'hpp.out']

Question 2
Let's create a function that turns text into pig latin: a simple text transformation that modifies each word moving the first character to the end and appending "ay" to the end. For example, python ends up as ythonpay.

In [290]:
lis = "hello is a boy"
l = lis.split()
l = l[1:] + l[0] + "ay"

TypeError: can only concatenate list (not "str") to list

In [298]:
def pig_latin(text):
  say = []
  # Separate the text into words
  words = text.split()
  for word in words:
    print(word)
    # Create the pig latin word and add it to the list
    word = word[1:]+word[0]+"ay"
    say.append(word)
    # Turn the list back into a phrase
  return " ".join(say)
		
print(pig_latin("hello how are you")) # Should be "ellohay owhay reaay ouyay"
print(pig_latin("programming in python is fun")) # Should be "rogrammingpay niay ythonpay siay unfay"

hello
how
are
you
ellohay owhay reaay ouyay
programming
in
python
is
fun
rogrammingpay niay ythonpay siay unfay

The permissions of a file in a Linux system are split into three sets of three permissions: read, write, and execute for the owner, group, and others. Each of the three values can be expressed as an octal number summing each permission, with 4 corresponding to read, 2 to write, and 1 to execute. Or it can be written with a string using the letters r, w, and x or - when the permission is not granted.
For example: 
640 is read/write for the owner, read for the group, and no permissions for the others; converted to a string, it would be: "rw-r-----"
755 is read/write/execute for the owner, and read/execute for group and others; converted to a string, it would be: "rwxr-xr-x"
Fill in the blanks to make the code convert a permission in octal format into a string format.

In [309]:
def octal_to_string(octal):
    result = ""
    value_letters = [(4,"r"),(2,"w"),(1,"x")]
    # Iterate over each of the digits in octal
    for x in [int(n) for n in str(octal)]:
        print(x)
        # Check for each of the permissions values
        for value, letter in value_letters:
            print(value, letter)
            if x >= value:
                result += letter
                print(result)
                x -= value
            else:
                result += "-"
    return result
    
print(octal_to_string(755)) # Should be rwxr-xr-x
print(octal_to_string(644)) # Should be rw-r--r--
print(octal_to_string(750)) # Should be rwxr-x---
print(octal_to_string(600)) # Should be rw-------

7
4 r
r
2 w
rw
1 x
rwx
5
4 r
rwxr
2 w
1 x
rwxr-x
5
4 r
rwxr-xr
2 w
1 x
rwxr-xr-x
rwxr-xr-x
6
4 r
r
2 w
rw
1 x
4
4 r
rw-r
2 w
1 x
4
4 r
rw-r--r
2 w
1 x
rw-r--r--
7
4 r
r
2 w
rw
1 x
rwx
5
4 r
rwxr
2 w
1 x
rwxr-x
0
4 r
2 w
1 x
rwxr-x---
6
4 r
r
2 w
rw
1 x
0
4 r
2 w
1 x
0
4 r
2 w
1 x
rw-------

Question 5
The group_list function accepts a group name and a list of members, and returns a string with the format: group_name: member1, member2, … For example, group_list("g", ["a","b","c"]) returns "g: a, b, c". Fill in the gaps in this function to do that.

In [346]:
def group_list(group, users):
  members = ",".join(users)
  return group+": "+members

print(group_list("Marketing", ["Mike", "Karen", "Jake", "Tasha"])) # Should be "Marketing: Mike, Karen, Jake, Tasha"
print(group_list("Engineering", ["Kim", "Jay", "Tom"])) # Should be "Engineering: Kim, Jay, Tom"
print(group_list("Users", "")) # Should be "Users:"

Marketing: Mike,Karen,Jake,Tasha
Engineering: Kim,Jay,Tom
Users:

Question 6
The guest_list function reads in a list of tuples with the name, age, and profession of each party guest, and prints the sentence "Guest is X years old and works as __." for each one. For example, guest_list(('Ken', 30, "Chef"), ("Pat", 35, 'Lawyer'), ('Amanda', 25, "Engineer")) should print out: Ken is 30 years old and works as Chef. Pat is 35 years old and works as Lawyer. Amanda is 25 years old and works as Engineer. Fill in the gaps in this function to do that.

In [356]:
guests = ([('Ken', 30, "Chef"), ("Pat", 35, 'Lawyer'), ('Amanda', 25, "Engineer")])
for x,y,z in guests:
    print(x,y,z)
    print(x," is ",y, " and works as ",z)

Ken 30 Chef
Ken  is  30  and works as  Chef
Pat 35 Lawyer
Pat  is  35  and works as  Lawyer
Amanda 25 Engineer
Amanda  is  25  and works as  Engineer

In [363]:
def guest_list(guests):
	for guest in guests:
		x,y,z = guest
		print("{} is {} old and works as {}".format(x,y,z))

guest_list([('Ken', 30, "Chef"), ("Pat", 35, 'Lawyer'), ('Amanda', 25, "Engineer")])

#Click Run to submit code
"""
Output should match:
Ken is 30 years old and works as Chef
Pat is 35 years old and works as Lawyer
Amanda is 25 years old and works as Engineer
"""

Ken is 30 old and works as Chef
Pat is 35 old and works as Lawyer
Amanda is 25 old and works as Engineer

'\nOutput should match:\nKen is 30 years old and works as Chef\nPat is 35 years old and works as Lawyer\nAmanda is 25 years old and works as Engineer\n'

In [359]:
def guest_list(guests):
	for name,age,profession in guests:
		
		print("{} is {} old and works as {}".format(name,age,profession))

guest_list([('Ken', 30, "Chef"), ("Pat", 35, 'Lawyer'), ('Amanda', 25, "Engineer")])

Ken is 30 old and works as Chef
Pat is 35 old and works as Lawyer
Amanda is 25 old and works as Engineer

In [365]:
#dictionary
x = {}
type(x)

dict

In [366]:
file_count = {"jpg":10, "txt":14, "csv":2, "py":23}
print(file_count)

{'jpg': 10, 'txt': 14, 'csv': 2, 'py': 23}

In [369]:
print(file_count["txt"])
print("jpg" in file_count)

14
True

In [370]:
file_count["cfg"] = 8
print(file_count)

{'jpg': 10, 'txt': 14, 'csv': 2, 'py': 23, 'cfg': 8}

In [371]:
file_count["csv"] = 10
print(file_count)

{'jpg': 10, 'txt': 14, 'csv': 10, 'py': 23, 'cfg': 8}

In [372]:
del file_count["cfg"]
print(file_count)

{'jpg': 10, 'txt': 14, 'csv': 10, 'py': 23}

In [373]:
for extension in file_count:
    print(extension)

jpg
txt
csv
py

In [374]:
for ext, amount in file_count.items():
    print("There are {} files with the .{} extension".format(amount, ext))

There are 10 files with the .jpg extension
There are 14 files with the .txt extension
There are 10 files with the .csv extension
There are 23 files with the .py extension

In [378]:
print(file_count.keys())
print(file_count.values())

dict_keys(['jpg', 'txt', 'csv', 'py'])
dict_values([10, 14, 10, 23])

In [380]:
for value in file_count.values():
    print(value)

10
14
10
23

In [389]:
def count_letters(text):
    result = {}
    for letter in text:
        if letter not in result:
            result[letter] = 0
        result[letter] += 1
    return result

In [390]:
count_letters("gooooal")

{'g': 1, 'o': 4, 'a': 1, 'l': 1}

In [392]:
count_letters("tenet")

{'t': 2, 'e': 2, 'n': 1}

Question 1
The email_list function receives a dictionary, which contains domain names as keys, and a list of users as values. Fill in the blanks to generate a list that contains complete email addresses (e.g. diana.prince@gmail.com)

In [424]:
def email_list(domains):
	emails = []
	for domain, users in domains.items():
	  for user in users:
	    emails.append(user+'@'+domain)
	return(emails)

print(email_list({"gmail.com": ["clark.kent", "diana.prince", "peter.parker"], "yahoo.com": ["barbara.gordon", "jean.grey"], "hotmail.com": ["bruce.wayne"]}))

['clark.kent@gmail.com', 'diana.prince@gmail.com', 'peter.parker@gmail.com', 'barbara.gordon@yahoo.com', 'jean.grey@yahoo.com', 'bruce.wayne@hotmail.com']

In [423]:
v = {"gmail.com": ["clark.kent", "diana.prince", "peter.parker"]}
email = []
for domain, users in v.items():
    for user in users:
        #print(user)
        email.append(user+'@'+domain)
print(email)

['clark.kent@gmail.com', 'diana.prince@gmail.com', 'peter.parker@gmail.com']

Question 2
The groups_per_user function receives a dictionary, which contains group names with the list of users. Users can belong to multiple groups. Fill in the blanks to return a dictionary with the users as keys and a list of their groups as values.

In [440]:
def groups_per_user(group_dictionary):
	user_groups = {}
	# Go through group_dictionary
	for grp, users in group_dictionary.items():
		# Now go through the users in the group
		for user in users:
			user_groups[user] = user_groups.get(user,[]) + [grp]
            
			# Now add the group to the the list of
# groups for this user, creating the entry
# in the dictionary if necessary

	return(user_groups)

print(groups_per_user({"local": ["admin", "userA"],
		"public":  ["admin", "userB"],
		"administrator": ["admin"] }))

{'admin': ['local', 'public', 'administrator'], 'userA': ['local'], 'userB': ['public']}

Question 3
The dict.update method updates one dictionary with the items coming from the other dictionary, so that existing entries are replaced and new entries are added. What is the content of the dictionary “wardrobe“ at the end of the following code?

In [442]:
wardrobe = {'shirt': ['red', 'blue', 'white'], 'jeans': ['blue', 'black']}
new_items = {'jeans': ['white'], 'scarf': ['yellow'], 'socks': ['black', 'brown']}
wardrobe.update(new_items)
wardrobe

{'shirt': ['red', 'blue', 'white'],
 'jeans': ['white'],
 'scarf': ['yellow'],
 'socks': ['black', 'brown']}

The add_prices function returns the total price of all of the groceries in the  dictionary. Fill in the blanks to complete this function.

In [450]:
def add_prices(basket):
	# Initialize the variable that will be used for the calculation
	total = 0
	# Iterate through the dictionary items
	for value in basket.values():
		# Add each price to the total calculation
		# Hint: how do you access the values of
		# dictionary items?
		total += value
	# Limit the return value to 2 decimal places
	return round(total, 2)  

groceries = {"bananas": 1.56, "apples": 2.50, "oranges": 0.99, "bread": 4.59, 
	"coffee": 6.99, "milk": 3.39, "eggs": 2.98, "cheese": 5.44}

print(add_prices(groceries)) # Should print 28.44

28.44

In [448]:
groceries = {"bananas": 1.56, "apples": 2.50, "oranges": 0.99, "bread": 4.59, "coffee": 6.99, 
             "milk": 3.39, "eggs": 2.98, "cheese": 5.44}
total = 0
for value in groceries.values():
    
    total += value
print(total)

28.440000000000005

Question 1

The format_address function separates out parts of the address string into new strings: house_number and street_name, and returns: "house number X on street named Y". The format of the input string is: numeric house number, followed by the street name which may contain numbers, but never by themselves, and could be several words long. For example, "123 Main Street", "1001 1st Ave", or "55 North Center Drive". Fill in the gaps to complete this function.

In [455]:
d = ("123 Main Street")
d = d.split()
for x in d:
    print(x)

123
Main
Street

In [564]:
def format_address(address_string):
  # Declare variables
  house_number = ""
  street_name = ""
  # Separate the address string into parts
  address = address_string.strip()
  address = address.split()
  
  # Traverse through the address parts
  for x in address:
    # Determine if the address part is the
    # house number or part of the street name
    if x.isdigit():
        house_number += x
    else:
        street_name += " "+ x
  # Does anything else need to be done 
  # before returning the result?
  
  # Return the formatted string  
  return "house number {} on street named {}".format(house_number, street_name)

print(format_address("123 Main Street"))
# Should print: "house number 123 on street named Main Street"

print(format_address("1001 1st Ave"))
# Should print: "house number 1001 on street named 1st Ave"

print(format_address("55 North Center Drive"))
# Should print "house number 55 on street named North Center Drive"

house number 123 on street named  Main Street
house number 1001 on street named  1st Ave
house number 55 on street named  North Center Drive

The highlight_word function changes the given word in a sentence to its upper-case version. For example, highlight_word("Have a nice day", "nice") returns "Have a NICE day". Can you write this function in just one line?

In [469]:
def highlight_word(sentence, word):
	return sentence.replace(word, str.upper(word))

print(highlight_word("Have a nice day", "nice"))
print(highlight_word("Shhh, don't be so loud!", "loud"))
print(highlight_word("Automating with Python is fun", "fun"))

Have a NICE day
Shhh, don't be so LOUD!
Automating with Python is FUN

In [468]:
a = "nice"
x = "Have a nice day"
x.replace(a,str.upper(a))

'Have a NICE day'

Question 3
A professor with two assistants, Jamie and Drew, wants an attendance list of the students, in the order that they arrived in the classroom. Drew was the first one to note which students arrived, and then Jamie took over. After the class, they each entered their lists into the computer and emailed them to the professor, who needs to combine them into one, in the order of each student's arrival. Jamie emailed a follow-up, saying that her list is in reverse order. Complete the steps to combine them into one list as follows: the contents of Drew's list, followed by Jamie's list in reverse order, to get an accurate list of the students as they arrived.

In [497]:
def combine_lists(list1, list2):
  # Generate a new list containing the elements of list2
  # Followed by the elements of list1 in reverse order
   l = []
   for x in list2:
        l.append(x)
   list1 = list1[::-1]
   for c in list1:
        l.append(c)
   return l
  
	
Jamies_list = ["Alice", "Cindy", "Bobby", "Jan", "Peter"]
Drews_list = ["Mike", "Carol", "Greg", "Marcia"]

print(combine_lists(Jamies_list, Drews_list))

['Mike', 'Carol', 'Greg', 'Marcia', 'Peter', 'Jan', 'Bobby', 'Cindy', 'Alice']

In [496]:
Jamies_list = ["Alice", "Cindy", "Bobby", "Jan", "Peter"]
Drews_list = ["Mike", "Carol", "Greg", "Marcia"]
l = []
for x in Drews_list:
    l.append(x)

j = Jamies_list[::-1]
for c in j:
    l.append(c)

l

['Mike', 'Carol', 'Greg', 'Marcia', 'Peter', 'Jan', 'Bobby', 'Cindy', 'Alice']

Use a list comprehension to create a list of squared numbers (n*n). The function receives the variables start and end, and returns a list of squares of consecutive numbers between start and end inclusively.
For example, squares(2, 3) should return [4, 9].

In [554]:
def squares(start, end):
	return [x*x for x in range(start, end+1) ]

print(squares(2, 3)) # Should be [4, 9]
print(squares(1, 5)) # Should be [1, 4, 9, 16, 25]
print(squares(0, 10)) # Should be [0, 1, 4, 9, 16, 25, 36, 49, 64, 81, 100]

[4, 9]
[1, 4, 9, 16, 25]
[0, 1, 4, 9, 16, 25, 36, 49, 64, 81, 100]

In [500]:
for x in (2,3):
    x = x*x
    print(x)

4
9

Complete the code to iterate through the keys and values of the car_prices dictionary, printing out some information about each one.

In [504]:
def car_listing(car_prices):
  result = ""
  for model,price in car_prices.items():
    result += "{} costs {} dollars".format(model,price)+ "\n"
  return result

print(car_listing({"Kia Soul":19000, "Lamborghini Diablo":55000, "Ford Fiesta":13000, "Toyota Prius":24000}))

Kia Soul costs 19000 dollars
Lamborghini Diablo costs 55000 dollars
Ford Fiesta costs 13000 dollars
Toyota Prius costs 24000 dollars

Question 6
Taylor and Rory are hosting a party. They sent out invitations, and each one collected responses into dictionaries, with names of their friends and how many guests each friend is bringing. Each dictionary is a partial list, but Rory's list has more current information about the number of guests. Fill in the blanks to combine both dictionaries into one, with each friend listed only once, and the number of guests from Rory's dictionary taking precedence, if a name is included in both dictionaries. Then print the resulting dictionary.

In [518]:
def combine_guests(guests1, guests2):
    guests2.update(guests1)
    return guests2
        
        
  # Combine both dictionaries into one, with each key listed 
  # only once, and the value from guests1 taking precedence

Rorys_guests = { "Adam":2, "Brenda":3, "David":1, "Jose":3, "Charlotte":2, "Terry":1, "Robert":4}
Taylors_guests = { "David":4, "Nancy":1, "Robert":2, "Adam":1, "Samantha":3, "Chris":5}

print(combine_guests(Rorys_guests, Taylors_guests))

{'David': 1, 'Nancy': 1, 'Robert': 4, 'Adam': 2, 'Samantha': 3, 'Chris': 5, 'Brenda': 3, 'Jose': 3, 'Charlotte': 2, 'Terry': 1}

Use a dictionary to count the frequency of letters in the input string. Only letters should be counted, not blank spaces, numbers, or punctuation. Upper case should be considered the same as lower case. For example, count_letters("This is a sentence.") should return {'t': 2, 'h': 1, 'i': 2, 's': 3, 'a': 1, 'e': 3, 'n': 2, 'c': 1}.

In [ ]:
 for letter in text:
        if letter not in result:
            result[letter] = 0
        result[letter] += 1
    return result

In [560]:
def count_letters(text):
    result = {}
    text = text.lower()
  # Go through each letter in the text
    for letter in text:
        if letter.isalpha():
            count = text.count(letter)
    # Check if the letter needs to be counted or not
    # Add or increment the value in the dictionary
            result[letter] = count
    return result

print(count_letters("AaBbCc"))
# Should be {'a': 2, 'b': 2, 'c': 2}

print(count_letters("Math is fun! 2+2=4"))
# Should be {'m': 1, 'a': 1, 't': 1, 'h': 1, 'i': 1, 's': 1, 'f': 1, 'u': 1, 'n': 1}

print(count_letters("This is a sentence."))
# Should be {'t': 2, 'h': 1, 'i': 2, 's': 3, 'a': 1, 'e': 3, 'n': 2, 'c': 1}

{'a': 2, 'b': 2, 'c': 2}
{'m': 1, 'a': 1, 't': 1, 'h': 1, 'i': 1, 's': 1, 'f': 1, 'u': 1, 'n': 1}
{'t': 2, 'h': 1, 'i': 2, 's': 3, 'a': 1, 'e': 3, 'n': 2, 'c': 1}

In [546]:
def count_letters(text):
    result = {}
    for letter in text.lower():
        if letter not in result:
            result[letter] = 0
        result[letter] += 1
    return result

In [549]:
animal = "Hippopotamus"
print(animal[3:6])
print(animal[-5])
print(animal[10:])

pop
t
us

In [551]:
colors = ["red", "white", "blue"]
colors.insert(2, "yellow")
colors

['red', 'white', 'yellow', 'blue']

In [552]:
host_addresses = {"router": "192.168.1.1", "localhost": "127.0.0.1", "google": "8.8.8.8"}
host_addresses.keys()

dict_keys(['router', 'localhost', 'google'])